extends ./layout.jade

block content
  .col-md-12
    ul
      li
        a(href="/reports/single") Single Installer Reports
      li
        a(href="/reports/multi") Multi Installer Reports
      li
        a(href="/reports/lds") Landscape Autopilot Installer Reports
